<div class="flex-column">
            <main>
                <div class="container">
                    <div class="row">
                        {{#if events.length}}
                        <div class="list-events">
                            <h4>List of Your Events:</h4>
                        </div>
                        {{!-- loop over each event --}}
                    {{#each events as |event|}}
                        <div class="row box">
                            <div class="columns">
                                <div class="column">
                                    <h4>
                                        <a href="/event/{{event.id}}">{{event.title}}</a>
                                    </h4>
                                    <p>Date of event: {{format_date event.date_created}}</p>
                                    <p>Hosted by: {{event.user.name}}</p>
                                    <p>{{event.event_info}}</p>
                                </div>
                                <br>
                                <br>
                                <div class="column">
                                    <button class="button is-link is-focused" type="submit">RSVP to Event</button>
                                    <br>
                                    <br>
                                    <button class="button is-link is-focused" type="submit">Share Event</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{/each}}
            
                    {{/if}}
                </div>

                {{!-- create an event form --}}
                <div class="row container box">
                    <div class="center-align">
                        <h4>Create an Event:</h4>

                        <form class="form new-event-form" method="POST" action="/events">
                            <div class="row">
                                <div class="input-field column">
                                    <input placeholder="Movie Marathon" id="event-name" type="text" class="input">
                                    <label for="event-name">Event Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field column">
                                    <input placeholder="01/01/1999" id="event-date" type="text" class="input">
                                    <label for="event-date">Date of Event</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field column">
                                    <input class="input" type="text" id="event-desc">
                                    <label for="event-desc">Event Description</label>
                                </div>
                            </div>
                        </form>

                        <button class="button is-link is-focused" type="submit" id="create-event-form">Create Event</button>

                    </div>
                </div>
        </div>

        {{!-- <script>
                    const calendar = document.querySelector('.datepicker');
                    M.Datepicker.init(calendar, {});
                </script> --}}

                <script src="/js/add-event.js"></script>