{{!-- single event page --}}
<div class="container">
    <div class="row">
        <h3>{{event.title}}</h3>
        <h5>Event Date: {{event.date_created}}</h5>
    </div>

    <div class="row">
        <div class="columns">
            <div class="column">
                <p>Hosted by: {{event.user_id.name}}</p>
                <p>{{event.event_info}}</p>
            </div>

            {{!-- RSVP LIST --}}
            <div class="column">
                <button class="button is-link is-focused">RSVP to Event</button>
                <br>
                <br>
                <div class="dropdown is-active">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>RSVP List</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                        <div class="dropdown-content">
                            {{#if rsvp.length}}
                            {{#each rsvps as |rsvp|}}
                            <div class="dropdown-item">
                                <p>{{rsvp.name}}</p>
                                {{!-- idk what to use for rsvp'd users --}}
                            </div>
                            {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {{!-- if/else statement for different kind of buttons depending on if they are a creator of the event or a user --}}
        <div class="row">
            {{!-- need to figure out correct term for creator --}}
            {{#if creator}}
            <div class="columns">
                <div class="column">
                    <button class="button is-link is-focused">Edit Event</button>
                </div>
                <br>
                <div class="column">
                    <button class="button is-link is-focused">Delete Event</button>
                </div>
                {{else}}
                <div class="column">
                    <button class="button is-link is-focused">Share Event</button>
                </div>
                <br>
                <div class="column">
                    <button class="button is-link is-focused">Cancel RSVP</button>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>