<main>
<div class="container">
{{#if loggedIn}}

    {{#each events as |event|}}

        <div class="card mb-5">
    <div class="card-header bg-secondary">
      <div class="container">
        <div class="row align-items-end">
          <div class="col">
            <h4 class="card-title left"><a class="text-info text-decoration-none" href="/post/{{event.event.id}}">{{event.event.title}}</a></h4>
          </div>
          <div class="col">
        <p class="card-subtitle mb-2 right">Posted by {{event.event.user.name}} on {{format_date event.event.date_created}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{event.event.event_info}}</p>
    </div>
</div>
        
    {{/each}}

    <div class="row center">
        <a href="/events" id="download-button" class="btn-large waves-effect waves-light blue">Go make an event!</a>
    </div>

{{else}}

    <div class="container">
      <br><br>
      <h1 class="header center blue-text">Movie Party</h1>
      <div class="row center">
        <h5 class="header col s12 light">Plan your next movie party with your friends!</h5>
      </div>
      <div class="row center">
        <a href="/login" id="download-button" class="btn-large waves-effect waves-light blue">Login</a>
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light blue">Signup</a>
      </div>
      <br><br>

    </div>

{{/if}}
    </div>
</main>