<div class="container">
    <br/>
    <br/>
            {{#if loggedIn}}
            
                {{#each events as |event|}}
            <br />
            <div class="row box">
                <div class="column is-12">
                    <h4 class="title is-4">
                        <a href="/event/{{event.id}}">{{event.event.title}}</a>
                    </h4>
                    <p>Date of event: {{event.event.date_created}}</p>
                    <p>Hosted by: {{event.event.user.name}}</p>
                    <p>{{event.event.event_info}}</p>
                </div>
            </div>
    <br/>
            {{/each}}
            <br>
            <div class="row">
                <div class="column is-12">
                    <a href="/events" id="download-button" class="button is-link is-focused">Go make an
                        event!</a>
                </div>
            </div>

            {{else}}

            <div class="container">
                <div class="column is-12">
                    <br><br>
                    <h1 class="title is-1">Movie Party</h1>
                    <div class="row">
                        <h5 class="title is-5">Plan your next movie party with your friends!</h5>
                    </div>
                    <br><br>
                    <div class="row">
                        <a href="/login" id="download-button" class="button is-link is-focused">Login</a>
                        <a href="/signup" id="download-button" class="button is-link is-focused">Signup</a>
                    </div>
                </div>

            </div>

            {{/if}}
        </div>
</main>